# Wails 3 default .gitignore
.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

build/bin
*.zip
AdbAutoPlayer
PATCH_*
*.syso
.vscode
node_modules
release_zip
debug
*instructions.md
coverage.xml
junit.xml
.coverage
adb-auto-player.exe
